services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
      - node

  php:
    build:
      context: .
      dockerfile: PHP.Dockerfile
    working_dir: /app
    volumes:
      - ./api:/app

  node:
    build:
      context: .
      dockerfile: Node.Dockerfile
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

  mysql:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: "secret123"
      MYSQL_USER: "developer"
      MYSQL_PASSWORD: "secret123"
      MYSQL_DATABASE: "developmentdb"
    volumes:
      - mysqldata:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=mysql
    restart: unless-stopped

volumes:
  mysqldata: {}
